{% extends 'home/base.html' %} 

{% block title %}Car Insurance{% endblock %} 

{% block content %}
    {% load static %}
    <div class='wrapper'>
        <h1 class='title'>Bảo hiểm xe ô tô: Bảo vệ toàn diện cho chiếc xe của bạn</h1>
        <p class='desc'>
            Khi sở hữu một chiếc xe ô tô, việc có một chính sách bảo hiểm xe ô tô là rất quan trọng. 
            <br/>
            <br/>
            Bảo hiểm xe ô tô không chỉ bảo vệ bạn khỏi rủi ro tài chính liên quan đến xe của mình, mà còn mang lại sự an tâm và yên tâm khi tham gia giao thông.
            <br/>
            <br/>
            Trong nội dung này, chúng ta sẽ tìm hiểu về bảo hiểm xe ô tô, các loại bảo hiểm phổ biến, và những lợi ích mà nó mang lại.
            <br/>
            <br/>
            1. Bảo hiểm xe ô tô là gì?
            <br/>
            - Bảo hiểm xe ô tô là một hợp đồng giữa chủ xe và công ty bảo hiểm, trong đó công ty bảo hiểm cam kết bồi thường cho chủ xe trong trường hợp xe bị hư hỏng, mất mát hoặc gây ra thiệt hại cho bên thứ ba.
            <br/>
            <br/>
            2. Các loại bảo hiểm xe ô tô phổ biến
            <br/>
            - Bảo hiểm tổn thất
            - Bảo hiểm tai nạn
            - Bảo hiểm trách nhiệm dân sự
        </p>
    
    </div>{% endblock %}
