{% extends 'home/base.html' %} 

{% block title %}Battery Replacement{% endblock %} 

{% block content %}
    {% load static %}
    <div class='wrapper'>
        <h1 class='title'>Bí quyết bảo vệ động cơ của bạn</h1>
        <p class='desc'>
            Thay dầu động cơ là một trong những công việc quan trọng nhất để bảo dưỡng xe ô tô.
            <br/>
            <br/>
            Dầu động cơ đóng vai trò quan trọng trong việc bôi trơn, làm mát và làm sạch các bộ phận quan trọng của động cơ.
            <br/>
            <br/>
            Trong nội dung này, chúng ta sẽ tìm hiểu về quá trình thay dầu động cơ, các bước cần thiết và lưu ý quan trọng để đảm bảo động cơ hoạt động tốt và bền bỉ.
            <br/>
            <br/>
            1. Tại sao cần thay dầu động cơ?
            <br/>
            Bôi trơn: Dầu động cơ giúp giảm ma sát giữa các bộ phận trong động cơ, từ đó giúp kéo dài tuổi thọ của các bộ phận và ngăn chặn sự hao mòn.
            <br />
            Làm mát: Dầu động cơ làm mát các bộ phận quan trọng bằng cách hấp thụ và tiêu thụ nhiệt độ cao trong quá trình hoạt động.
            <br />
            Làm sạch: Dầu động cơ làm sạch bụi bẩn, cặn bã và các tạp chất có thể tích tụ trong động cơ.
            <br/>
            <br/>
            2. Các bước thay dầu động cơ:
            <br/>
            a. Chuẩn bị: Kiểm tra hướng dẫn của nhà sản xuất để biết loại dầu động cơ phù hợp và dung tích dầu cần thiết cho xe của bạn.
            <br />
            b. Nâng xe: Sử dụng bộ nâng xe an toàn để nâng xe lên, tạo không gian để tiến hành thay dầu.
            <br />
            c. Xả dầu cũ: Đặt một nắp dưới đáy bình dầu và mở nắp dẫn dầu để xả dầu cũ hoàn toàn.
            <br />
            d. Thay bộ lọc dầu: Với một bộ lọc dầu mới, tháo bỏ bộ lọc cũ và lắp bộ lọc mới vào vị trí.
            <br />
            e. Đổ dầu mới: Mở nắp đổ dầu động cơ và đổ dầu mới vào. Đảm bảo không đổ quá hoặc không đủ dung tích dầu.
            <br />
            f. Kiểm tra mức dầu: Sử dụng que đo mức dầu hoặc công cụ kiểm tra mức dầu để đảm bảo mức dầu trong khoảng an toàn.
            <br/>
            g. Đóng nắp
        </p>
    
    </div>{% endblock %}
